{% extends "base.html" %}
{% block content %}
    <h1>Flickr Album</h1>

    <table class="table table-condensed">
        <thead>
        <tr>
            <th style="width: 100px"></th>
            <th style="width: 20%">Name</th>
            <th>Urls</th>
            <th><i class="fa fa-fw fa-eye"></i></th>
        </tr>
        </thead>
        <tbody>
        {% for photo in photos.items %}
            <tr>
                <td>
                    <img class="img-thumbnail" src="{{ photo.url_sq }}">
                </td>
                <td>
                    <strong>{{ photo.title }}</strong><br>
                    <small>
                        <small><em>{{ photo.tags }}</em></small>
                    </small>
                </td>
                <td>
                    {% for size in config.FLICKR_SIZES %}
                    <div class="input-group input-group-sm" style="margin-bottom: 5px">
                        <span class="input-group-addon" id="sizing-addon3">
                             {{ size[1] }}
                            <small><em>{{ photo["height_" + size[0]] }}x{{ photo["width_" + size[0]] }}</em></small>
                        </span>
                        <input type="text" class="form-control input-sm" value="{{ photo["url_" + size[0]] }}">
                        <span class="input-group-addon">
                            <a href="{{ photo["url_" + size[0]] }}" target="_blank">
                                <i class="fa fa-fw fa-external-link"></i>
                            </a>
                        </span>
                    </div>
                    {% endfor %}
                </td>
                <td>{{ photo["views"] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% import "_pagination.html" as pagination %}
    {{ pagination.paginate(photos, page, total) }}
{% endblock %}