{% extends "base.html" %}
{% block content %}
    <h1>Hello, {{ user.name }}</h1>
    <div class="row">
        <form action="{{ url_for('category') }}" method="post" name="post">
            {{ form.hidden_tag() }}
            <div class="col-lg-3">
                <div class="input-group">
                    {{ form.category(maxlength=40, class="form-control", placeholder="New Category") }}
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Save</button>
                </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            {% for error in form.category.errors %}
                <span style="color:darkred">[{{ error }}]</span>
            {% endfor %}
        </form>
    </div>

    <div>
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th>Category</th>
                <th>Subcategories</th>
                <th style="width: 220px"></th>
                <th style="width: 30px"></th>
            </tr>
            </thead>
            <tbody ng-controller="CategoryController as cat">
            {% for category in categories %}
                <tr>
                    <td>{{ category.category }} ({{ category.category_slug }})</td>
                    <td>
                        {% for sub in category.subcategories %}
                            {{ sub.subcategory }} ({{ sub.subcategory_slug }})
                            <a href="{{ url_for("add_photo", subcategory_id=sub.id) }}" class="text-success"><i class="fa fa-fw fa-photo"></i></a>
                            <a href="#" class="text-danger" ng-click="cat.delete('subcategory', {{ sub.id }})"><i class="fa fa-fw fa-times"></i></a>
                            <br>
                        {% endfor %}
                    </td>
                    <td>
                        <form action="{{ url_for('subcategory', category_id=category.id) }}" method="post"
                              name="subcategory">
                            {{ form_sub.hidden_tag() }}
                            <div>
                                <div class="input-group input-group-sm">
                                    {{ form_sub.subcategory(maxlength=40, class="form-control", placeholder="New Subcategory") }}
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">Save</button>
                                    </span>
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-6 -->
                        </form>
                    </td>
                    <td>
                        <a href="#" class="text-danger" ng-click="cat.delete('category', {{ category.id }})"><i class="fa fa-fw fa-times"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2>Flickr Albuns</h2>
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th>Title</th>
                <th>Nr. of Photos</th>
                <th>Views count</th>
                <th>Created</th>
                <th>Modified</th>
            </tr>
            </thead>
            <tbody>
            {% for set in photosets.items %}
                <tr>
                    <td>
                        <a href="{{ url_for('album', photosetid=set["id"]) }}">
                            {{ set.title }}
                        </a>
                    </td>
                    <td>{{ set.photos }}</td>
                    <td>{{ set.count_views }}</td>
                    <td>{{ set.date_create }}</td>
                    <td>{{ set.date_update }}</td>
                </tr>
            {% endfor %}

            </tbody>
            <tfoot>
            <tr>
                <td>Total:</td>
                <td>
                    {{ total_photos }}
                </td>
                <td>
                    {{ total_views }}
                </td>
                <td colspan="2"></td>
            </tr>
            </tfoot>
        </table>

        {% import "_pagination.html" as pagination %}
        {{ pagination.paginate(photosets, page, total) }}

    </div>
{% endblock %}
