<table class="table table-condensed table-hover table-striped">
    <tr valign="top">
        <td>
            <img src="{{ post.author.avatar(50) }}">
        </td>
        <td>
            <i>
                <a href="{{ url_for("user", nickname=post.author.nickname) }}">
                    {{ post.author.nickname }}
                </a>
                said {{ momentjs(post.timestamp).fromNow() }}:
            </i>
            <p>
                {{ post.body }}
            </p>
            {% if post.language != None and post.language != "" and post.language != g.locale %}
                <div>
                    <a href="#">{{ _("Translate") }}</a>
                </div>
            {% endif %}
        </td>
    </tr>
</table>