<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

    <h1>{{ user.nickname }}</h1>
    <div class="col-lg-12">
        <table>
            <tr valign="top">
                <td style="padding-right: 20px">
                    <img class="img-thumbnail img-circle" src="{{ user.avatar(128) }}">
                </td>
                <td>
                    <em>{{ user.email }}</em>
                    {% if user.about_me %}
                        <h4>{{ user.about_me }}</h4>
                    {% endif %}
                    {% if user.last_seen %}<p>{{ momentjs(user.last_seen).calendar() }}</p>{% endif %}

                    <p>
                        {{ user.followers.count() }} followers |
                        Following {{ user.followed.count() }} |
                        {% if user.id == g.user.id %}
                            <a href="{{ url_for('edit') }}">Edit</a>
                        {% elif not g.user.is_following(user) %}
                            <a href="{{ url_for('follow', nickname=user.nickname) }}">Follow</a>
                        {% else %}
                            <a href="{{ url_for('unfollow', nickname=user.nickname) }}">Unfollow</a>
                        {% endif %}
                    </p>
                </td>
            </tr>
        </table>
    </div>

    <hr>
    {% for post in posts.items %}
        {% include "post.html" %}
    {% endfor %}
    {% if posts.has_prev %}
        <a href="{{ url_for('index', page=posts.prev_num) }}"><< Newer posts</a>
    {% else %}
        << Newer posts
    {% endif %} |
    {% if posts.has_next %}
        <a href="{{ url_for('index', page=posts.next_num) }}">Older posts >></a>
    {% else %}
        Older posts >>
    {% endif %}
{% endblock %}